.container {
  margin-top:20px;
}

#box {
  min-height:400px;
  padding:20px;
  background-color:#EEE;
}

ul {
  list-style:none;
  margin-left:0;
}

li {
  background-color:#333;
  margin-bottom:5px;
}

li input {
  margin-right:10px;
  background-color:rgb(105,105,105);
  border-color:black;
  color:;
}