/* sol-style.scss */
/* all the colororing with the solarized color scheme */
/* variables */
body {
  background: #fdf6e3; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* banner bar */
.container {
  background-color: #93a1a1; }

.nav {
  background: #93a1a1; }
  .nav li {
    background: #93a1a1; }

/* coloring of drop down */
.dropdown-menu {
  background: #fdf6e3; }
  .dropdown-menu li {
    background: #fdf6e3;
    color: #586e75; }

li.dropdown-menu {
  background: #fdf6e3;
  color: red; }

/*drop down list */
.navbar .nav li a {
  color: #586e75; }
  .navbar .nav li a:hover {
    color: #eee8d5; }

/* coloring of dropdown arrow */
.navbar .dropdown-menu:after {
  border-bottom: 6px solid #fdf6e3; }

.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
  border-top-color: #586e75; }

#logo {
  background: #b58900; }
  #logo a {
    color: #fde6a9; }
    #logo a:hover {
      color: #fdf6e3; }

/* create link*/
a#create-wishlist {
  color: #586e75; }

/* title box*/
#title-box input {
  background: #93a1a1;
  color: #586e75;
  border-style: none;
  border-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: #586e75; }
  #title-box input:hover {
    border-bottom-width: 2px; }

/* wishes */
ul.wishes {
  list-style: none;
  list-style-position: inside;
  background: transparent; }
  ul.wishes li {
    background: transparent; }
  ul.wishes input {
    background: transparent;
    border-style: none;
    border-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: #93a1a1; }

input.description {
  color: #d33682; }

input.url {
  color: #93a1a1; }

.delete {
  background: url(../images/x.png); }

#copyright {
  background: transparent;
  color: #586e75; }
  #copyright p {
    margin: 7px 5px 0px 0px; }
  #copyright a {
    text-decoration: underline;
    color: #586e75; }
    #copyright a:hover {
      text-decoration: none; }
