/* sol-style.scss */
/* all the colororing with the solarized color scheme */
/* variables */
body {
  background: #fdf6e3; }

a:hover {
  text-decoration: none; }

/* banner bar */
.container {
  background-color: #93a1a1; }

.nav {
  background: #93a1a1; }
  .nav li {
    background: #93a1a1; }

li input {
  background-color: #eee8d5;
  border-color: #eee8d5;
  color: #b58900; }

/*divider*/
.navbar .divider-vertical {
  background-color: #657b83;
  border-right: 1px solid #76919b; }

/* coloring of drop down */
.dropdown-menu {
  background: transparent;
  box-shadow: none;
  border: none; }
  .dropdown-menu li {
    background: url(../images/create.png);
    background-repeat: no-repeat;
    color: #586e75; }
    .dropdown-menu li:hover {
      background: #fdf6e3; }

/*sets a different background on about*/
.about li {
  background: url(../images/about.png);
  background-repeat: no-repeat; }

#icon-new {
  background: url(../images/new_icon.png);
  background-repeat: no-repeat; }
  #icon-new:hover {
    background: url(../images/new_icon_hover.png);
    background-repeat: no-repeat; }

#icon-question {
  background: url(../images/question.png);
  background-repeat: no-repeat; }
  #icon-question:hover {
    background: url(../images/question_hover.png);
    background-repeat: no-repeat; }

li.dropdown-menu {
  background: #fdf6e3; }

/* coloring of logo */
.navbar .brand {
  background: #b58900;
  color: #fde6a9; }
  .navbar .brand:hover {
    color: #fdf6e3;
    background: #b58900; }

/*coloring of copyright box */
#copyright {
  background: transparent;
  color: #eee8d5; }
  #copyright .links {
    color: #eee8d5; }
  #copyright a {
    text-decoration: underline; }
    #copyright a:hover {
      text-decoration: none; }

.label {
  background: #eee8d5; }
  .label a {
    color: #b58900; }

/* wishes */
ul.wishes {
  background: transparent;
  box-shadow: none; }
  ul.wishes li {
    background: transparent; }
  ul.wishes input {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    border-bottom-color: #93a1a1; }

input.description {
  color: #d33682; }

input.url {
  color: #93a1a1; }

/* delete x */
.delete {
  background: url(../images/x.png); }
  .delete:hover {
    background: url(../images/x-hover-red.png); }

#info-container {
  background: #001419; }

#info-box {
  background: #fdf6e3; }

#info-close {
  background: url(../images/close1.png); }

#info-text {
  color: #268bd2; }
