/* style.scss */
/* variables */
html {
  height: 100%; }

body {
  height: 100%;
  background-color: #43145c; }

/* wrap */
#wrap {
  min-height: 100%; }

/*header*/
#header {
  background: #28165f url(../images/bottom-shadow2.png); }

#header-content {
  width: 720px;
  height: 100px;
  margin: auto;
  background: #4b3985 url(../images/bottom-shadow1.png);
  position: relative; }

#logo {
  position: absolute;
  bottom: 10px;
  right: -4px;
  background: url(../images/logo.png) no-repeat;
  height: 65px;
  width: 323px; }

#title-box input {
  float: left;
  margin-left: 20px;
  margin-top: 60px; }

#create-wishlist {
  margin-top: 60px;
  margin-left: 10px; }

/* main */
#main {
  background-color: #43145c;
  overflow: auto;
  padding-bottom: 50px; }

#main-content {
  width: 720px;
  margin: auto;
  background-color: #643280;
  padding-top: 20px; }

/* wishes */
ul.wishes {
  margin-left: 20px;
  list-style: none;
  background: transparent; }
  ul.wishes li {
    background-color: transparent; }
  ul.wishes input {
    background-color: #d0c9e6;
    border-color: #382f54;
    color: #3a383f; }

input.description {
  width: 370px; }

input.url {
  width: 270px; }

/* footer */
#footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  background: #28165f; }

#footer-content {
  width: 720px;
  height: 50px;
  margin: auto;
  background: #4b3985; }
