/* style.scss */
/* variables */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/* header */
.container {
  margin: 0px;
  width: 100%; }

h1#logo {
  width: 150px;
  position: relative;
  left: 5px;
  top: 5px; }

/* button */
/* box */
/* wishes */
