/* sol-style.scss */

/* variables */
$body-background:     #fdf6e3;
$banner-background:   #93a1a1;
$logo-background:     #b58900;
$logo-text:           #fdf6e3;
$banner-link-color:   #586e75;

$title-input-bg:      #93a1a1;
$title-input-border:  #586e75;
$wishes-input-border: #93a1a1;
$wish-color:          #d33682;
$url-color:           #93a1a1;

body{
  background:$body-background;
}

.container{
  background-color: $banner-background;
}

#logo{
	background:$logo-background;
	h1{
    color: $logo-text;
  }
}

/* create link*/
a#create-wishlist{
  color: $banner-link-color;
}

/* title box*/
#title-box input{
  background:$title-input-bg;
  color:$banner-link-color;
  border:{
    style:none;
    color: transparent;
    bottom:
      {
        style:solid;
        color:$title-input-border;
      }
  }
  &:hover{border-bottom-width:2px;}
}

/* wishes */
ul.wishes {
  list-style: url(../images/bullet_sol.png);
  list-style-position: inside;
  background:transparent;
  li{
    background:transparent;
  }
    input{
      background:transparent;
      border:{
        style:none;
        color:transparent;
        bottom:{
          style:solid;
          color: $wishes-input-border;
        }
      }
    }  
}

input.description{
  color:$wish-color;
}
input.url{
  color:$url-color;
}