/* sol-style.scss */

/* variables */
$body-background:     #fdf6e3;
$banner-background:   #93a1a1;
$logo-background:     #b58900;
$logo-text:           #fdf6e3;
$banner-link-color:   #586e75;

$title-input-bg:      #93a1a1;
$title-input-border:  #586e75;

body{
  background:$body-background;
}

.container{
  background-color: $banner-background;
}

h1#logo{
	background:$logo-background;
	color: $logo-text;
}

a#create-wishlist{
  color: $banner-link-color;
}

#title-box input{
  background:$title-input-bg;
  color:$banner-link-color;
  border:{
    style:none;
    color: transparent;
    bottom:
      {
        style:solid;
        color:$title-input-border;
      }
  }
  &:hover{border-bottom-width:2px;}
}