/* sol-style.scss */

/* variables */
$body-background: #fdf6e3;
$top-background: #93a1a1;
$logo-background: #b58900;
$logo-text: #fdf6e3;


body{
  background:$body-background;
}

.container{
  background-color: $top-background;
}

h1#logo{
	background:$logo-background;
	color: $logo-text;
}