/* style.scss */

/* variables */
$banner-height:   37px;


* {
    margin: 0;
    padding: 0;
  }


/* banner */

.navbar-inner{

}

.container{
  margin:0px;
  width:100%;
}

#logo{
  width:150px;
  height:$banner-height;
  float:left;
  h1{
    font-family:helvetica;
    font-weight:normal;
    margin-left:10px;
  }
}


#title-box{
  float: left;
  position:relative;
  left:20px;
  top:5px;
  font-size:90%;
}

#title-box input{
  font-size:120%;
  height:20px;
}

/* create link */
a#create-wishlist{
  float:left;
  position: relative;
  top:10px;
  left:10px;
  font-size:20px;
}

/* box */
#box{
  width:700px;
  margin: 130px auto 80px auto;
}

/* wishes */
ul.wishes {
	list-style-type: disc;
  list-style-position: inside;
	input{
    height:25px;
    font-size: 120%;
	}
}

input.description{
  width:350px;
}

input.url{
  width:295px;
}

