/* style.scss */

/* variables */
$body-background: #fdf6e3;
$top-background: #93a1a1;
* {
    margin: 0;
    padding: 0;
  }

html,body{
  height: 100%;
}

body{
  background:$body-background;
}


/* header */

.navbar-inner{

}

.container{
  margin:0px;
  background-color: $top-background;
  width:100%;
}

h1#logo{
  width:150px;
  position: relative;
  left:5px;
  top:5px; 

}

#title-box{

}

#title-box input{
 
}

/* button */
#create-wishlist{
   
}

/* box */


/* wishes */
ul.wishes {
	
		li{
			
		}
		input{

		}
		
}

input.description{

}

input.url{

}

