/* style.scss */

/* variables */
$bg-darkpurple-dark: #28165f;
$bg-darkpurple-light: #4b3985;
$bg-main-purple-dark: #43145c;
$bg-main-purple-light: #643280;

$bg-input-fields: #d0c9e6;
$bordercolor-input-fields: #382f54;
$texrcolor-input-fields: #3a383f;

$content-width: 720px; 
$footer-height: 50px;

* {
    margin: 0;
    padding: 0;
  }

html,body{
  height: 100%;
}

body{
  background:$bg-main-purple-dark;

}


/*header*/
#header{
	background: $bg-darkpurple-dark  url(../images/bottom-shadow2.png);
  position: fixed;
  width:100%;
  top:0px;
}

#header-content{
	width: $content-width;
	height: 100px;
	margin: auto;
	background: $bg-darkpurple-light url(../images/bottom-shadow1.png);
	position: relative;
}

.navbar-inner{
  background: $bg-darkpurple-dark  url(../images/bottom-shadow2.png);
}
.container{
  margin-top:0px;
  width:$content-width;
  height:100px;
  background: $bg-darkpurple-light url(../images/bottom-shadow1.png);
}

#logo{
  float: right;
	background: url(../images/logo.png) no-repeat;
	height:65px;
	width:323px;
  margin: 20px 0px 0px 0px;
}

#title-box{
  width:300px;
  float: left;
  margin: 55px 0px 0px 10px;
}
#title-box input{

}

#create-wishlist{
    margin: 55px 0px 0px 20px;
    float: left;
}

/* main */
#main{
  background-color: $bg-main-purple-dark;
  min-height:100%;
  width:100%;
}

#main-content{
  min-height:100%;
	width: $content-width;
	margin: 0 auto;

	background-color: $bg-main-purple-light;
}

/* wishes */
ul.wishes {
	
	margin-left:20px;
  padding-top:120px;

	list-style: none;
	background: transparent;

		li{
			background-color: transparent;
		}
		input{
			background-color: $bg-input-fields;
			border-color: $bordercolor-input-fields;
			color: $texrcolor-input-fields;

		}
	
	
}
input.description{
	width: 370px;

}
input.url{
	width: 270px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
	background:$bg-darkpurple-dark  url(../images/top-shadow-dark.png);
} 

#footer-content{
	width: $content-width;
	height: $footer-height;
	margin: auto;
	background: $bg-darkpurple-light url(../images/top-shadow-light.png);
}


